* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/music-playlist/music-playlist-Edsheeran-bg.png');
  background-size: cover;
  height: 40%;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #152850;
  height: 60%;
}
.list-container {
  display: flex;
  flex-direction: column;
}
.heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.not-found {
  color: #ffffff;
  text-align: center;
}
